<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/perfil.jpg" class="img-fluid" id="fotoPerfil" />
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">{{ persona.nombre }} {{ persona.apellido }}</p>
    <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Perfil</h1>
      <p>
        Me presento soy Melanie, proxima desarrolladora de Buenos Aires. Hace
        casi un año me encuentro apostando al conocimiento en la programación.
        Hoy pude llevar a cabo el desarrollo de mi primer página web que quiero
        compartir con ustedes. Espero puedas disfrutar, tanto como lo hice al
        momento de diseñarla. Sigo motivada a incrementar mis habilidades,
        ampliar mi conocimiento y herramientas.
      </p>
    </span>
  </div>
</div>
